<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/profile.css"/>
    <link rel="stylesheet" href="../static/css/cart.css" />
    <link rel="stylesheet" href="../static/css/card.css" />
    <style>
    </style>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
     <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
     <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />

     
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
     <title>RCProducts | E-cart</title>
     <link rel = 'icon' href = '../static/img/RCP studio.png'>
  
    </head>

    <script type = 'text/JavaScript'>
        var user  = '{{request.user}}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        
        </script>
<body class = 'bg-gray-900'>
 <!-- This example requires Tailwind CSS v2.0+ -->
<!-- This example requires Tailwind CSS v2.0+ -->



  <div class="sidebar-atish">
    <div class="logo-details">
      <div class="logo_name"><i class='bx bxs-shopping-bag-alt' ></i> RCP </div>
      <i class='bx bx-menu'id="btn"></i> 
  </div>
    <ul class="nav-list">
      
      <li> 
        {% if user.is_superuser %}
        <a href="{% url 'dashboard' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      {% endif%}
      <li>
        <a href="/">
          <i class='bx bx-home-alt'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
       <a href="/profile/">
         <i class='bx bx-user' ></i>
         <span class="links_name">User</span>
       </a>
       <span class="tooltip">User</span>
     </li>
     <li>
       <a href="{% url 'Bile' %}">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Messages</span>
       </a>
       <span class="tooltip">Messages</span>
     </li>
     <li>
       <a href="/analytics/">
        <i class='bx bx-dollar'></i>
         <span class="links_name">Prices</span>
       </a>
       <span class="tooltip">Prices</span>
     </li>
     
    
     <li>
       <a href="/order_status/">
        <i class='bx bx-cart-download'></i>
         <span class="links_name">Order status</span>
       </a>
       <span class="tooltip">Order status</span>
     </li>
    
     <li>
       <a href="{%url 'cart'%}">
         <i class='bx bx-cart-alt' ></i>
         <span class="links_name">Order </span>
       </a>
       <span class="tooltip">Order</span>
      </li>
     <li>
       <a href="{% url 'posts' %}">
        <i class='bx bxs-image'></i>
        <span class="links_name">Gallery</span>
      </a>
      <span class="tooltip">Gallery</span>
    </li>
    <li>
      <a href="{% url 'prod_add' %}">
        <i class='bx bx-data'></i>
       <span class="links_name">Add Product</span>
     </a>
     <span class="tooltip">Add Product</span>
   </li>
    <hr>
    {% if user.is_superuser %}
     <li>
       <a href="/sales/">
        <i class='bx bxs-briefcase'></i>
         <span class="links_name">Sales</span>
       </a>
       <span class="tooltip">Sales</span>
     </li>
     {% endif%}
     <li class="profile">
         <div class="profile-details">
           <img src="{{request.user.customer.Image.url}}" alt="profileImg">
           <div class="name_job">
             <div class="name">{{request.user}}<br>{{day}}</div>
             <div class="job" id = 'current-time'></div>
           </div>
         </div>
         {% if user.is_authenticated %}
        <a  href="/logout/"> <i class='bx bx-log-out' id="log_out" ></i>
          {% else %}
          <a  href="{% url 'login' %}"> <i class='bx bx-power-off' id="log_out" ></i>
            {% endif %}
        </a>
     </li>
    </ul>
  </div>
  <py-env>
    -calendar
   
  </py-env>
  <div id="plot"></div>
  {% block content %}
  {% endblock content%}
  <script>
  let sidebar = document.querySelector(".sidebar-atish");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>

<script
type="module"
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
nomodule
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
{% load static %}
  <script src = '{% static "/js/home.js" %}' defer>
  </script>
<script src ="../static/js/cart.js" ></script>
  <script src = './static/js/profile.js'></script>
  
   <script src="https://unpkg.com/scrollreveal"></script> 
 <script src ='./assets/js/swiper-bundle.min.js'></script>
 <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
 <script src ='./assets/js/scrollreveal.min.js'></script>
 <script type="text/javascript">
  (function(d, m){
      var kommunicateSettings = 
          {"appId":"1285aa65e63c132b086d09541a4ce1a2a","popupWidget":true,"automaticChatOpenOnNavigation":true};
      var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
      var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = kommunicateSettings;
  })(document, window.kommunicate || {});
  
</script>
</script>
<!-- 
<py-script output="plot">
  
import calendar  




cal2=calendar.month(2022,3)
print(cal2)  
  

</py-script>
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>    -->

</body>
</html>
